.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  padding: 20px;
}

.table-container {
  overflow-x: auto;
}

td {
  text-align: left;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}